@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Montserrat+Alternates:wght@200;300&family=Orbitron:wght@400;700&family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;500&family=Yeseva+One&display=swap');

body{
    background-color: black;
    color: white;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}

/*Nav bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 30px 10%;
    font-family: 'Orbitron', sans-serif;
}

.logo {
    cursor: pointer;
    font-size: 24px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.logo:hover {
    color: #daa520;
    transition-duration: 0.2s;
}

.logo:active {
    color: #886714;
    transition-duration: 0s;
    transform: translateY(4px);
}

.category {
    list-style: none;
}

.category li {
    display: inline-block;
    padding: 0px 30px;
}

.li,a {
    color: white;
    text-decoration: none;
}

/* menu hamburger */

.navBarLinks:hover {
    color: #daa520;
    transition-duration: 0.2s;
}

.navBarLinks:active,
.item:active {
    color: #886714;
    transition-duration: 0s;
    transform: translateY(4px);
}

.menu-wrap {
    display: none;
}

:root {
    --overlay-color: rgba(25, 24, 24, 0.85);
    --menu-speed: 0.75s;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.menu-wrap {
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 29px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger>div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger>div:after {
    top: 10px;
}

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}


/* Body */

/* Intro Lines */
.intro{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    
}

.intro h1{
    font-family: 'Poppins';
    font-size: xx-large;
    font-weight: 1000;
    line-height: 130%;
    width: 100%;
    color: white;
}

.intro p{
    font-family: 'Poppins';
    font-size: x-large;
    font-weight: 500;
    width: 100%;
    color: whitesmoke;
}

/* Lets get to know more about me button*/
.button0 {
    background-color: rgb(177, 244, 237);
    color: rgb(0, 6, 63);
    border: 7px solid #555555;
    font-size: 30px;
    font-family: 'Poppins' ;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .button0:hover {
    background-color: #424242;
    color: rgb(179, 236, 237);
    cursor: pointer;
  }

/* slider animation */

.slider {

    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display:grid;
    place-items: center;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 200px;

}

.slide-track {

    display: flex;
    width: calc(250px * 18);
    animation: scroll 30s linear infinite;

}

.slide-track:hover {
    animation-play-state: paused;
}


@keyframes scroll {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }

}

.slide {

    height: 200px;
    width: 250px;
    display:flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100%;
    object-fit:fill;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgb(213, 244, 255) 0%,
    rgba(255,255,255,0) 100%);
    content:'';
    height:100%;
    position:absolute;
    width: 15%;
    z-index: 2;

}

.slider::before {
    left:0;
    top:0;   
}

.slider::after {
    right:0;
    top:0;
    transform:rotateZ(180deg);

}

/* Biography and About me */
.bio{
    margin: 10px;
    gap: 100px;
}

.bio h1 {
    margin-top: 100px;
    font-family: 'Poppins';
    font-size: xx-large;
    font-weight: 2000;
    line-height: 150%;
    width: 100%;
    color: white;
}

.bio p{
    font-family: 'Poppins';
    font-size: large;
    font-weight: 500;
    width: 100%;
    color: whitesmoke;
    gap: 100px;
    line-height: 40px;
    margin-bottom: 100px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 10px;
}

.ul-list{
    display: flex;
    flex-direction: column;
}

ul{
    font-family: 'Poppins';
    font-size: xx-large;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
    color: rgb(163, 241, 255);
  }

/*My skill Button*/
.btn-group .button {
    background-color: rgb(56, 204, 253);
    border: 7px solid rgb(106, 131, 132);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:wavy;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight:bold;
  }

  .btn-group .button:hover {
    background-color: #698de9;
  }

/*My Works*/
.every-images{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 100px;
}

.row1, .row2, .row3, .row4, .row5, .row6, .row7{
    display:flex;
    gap: 1px;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.container{
    position: relative;
}
.text {
    color: whitesmoke;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

/* All image setting and hover function */
img{
    object-fit: cover;
    border-radius: 10px;
}
img:hover{
    box-shadow: 0px 0px 30px;
    padding: 5px;
    border-radius: 20px;
}

/* Social Media Icon*/
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/*Footer*/
.site-footer {
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-logo {
    font-size: 24px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}


.footer-one {
    display: flex;
    flex-direction: column;
    margin-right: 80px;

}

.logoDescription {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.footer-two {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

.emailAndSubmit {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.newsletterDescription {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.emailInput {
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
    padding-right: 80px;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.submitButton {
    margin-top: 10px;
    margin-left: 5px;
    border: none;
    padding: 10px 30px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.submitButton:hover {
    background-color: #daa520;
    transition-duration: 0.2s;
    cursor: pointer;
}

.submitButton:active {
    background-color: #886714;
    transition-duration: 0s;
    transform: translateY(4px);
}

/*Mobile Ver*/

@media only screen and (max-width: 820px) {
    .menu-wrap {
        display: block;
    }

    .category {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .item {
        margin: 16px 0px;
    }

    .item.active {
        left: 0;
    }

    .description {
        width: 100%;
    }

    .name {
        font-size: 55px;
    }

    .sub-heading {
        font-size: 30px;
        animation: none;
    }

    .team {
        margin: 0px;
    }

    .row {
        display: flex;
        position: relative;
        flex-direction: column;
    }

}
